body.landing {
	background-color: #37354c;
}

body {
	box-sizing: border-box;
    font-family: 'Times New Roman';
    color: #dcd09e;
    min-height: 100%;
	margin: 0;
	padding: 0;
}

.hero-content {
	background-image: url(../assets/images/cover-image-crop.jpg);
	position: relative;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
	padding: 0px;
	margin: 0px
}

.navbar {
	font-size: 1.3rem;
	text-decoration: none;
	letter-spacing: 1px;
	border-right: 5px solid #dcd09e;
	width: 30%;
	height: 100%;
	float: left;
	text-align: left;
	position: fixed;
	overflow: auto;
	background-color: #47455c;
	display: inline-block;
}

.navbar .navbar-list {
	list-style-type: none;
}

.opening-video {
	display: inline-block;
	width: 70%;
	height: 1000px;
	min-height: 400px;
	margin: auto auto;
	float: right;
	padding: 200px 0px;
	border: 5px solid red;
}

li {
	margin: 3px;
	display: block;
	height: 2.5rem;
	text-align: left;
	border: 2px solid #dcd09e;	
}