body.landing {
	background-color: #37354c;
}

body {
	box-sizing: border-box;
    font-family: 'Times New Roman';
    color: #dcd09e;
    min-height: 100%;
	margin: 0;
	padding: 0;
}

.hero-content {
    background-image: url(../assets/images/cover-image-crop-2.jpg);
	position: relative;
    height: 260px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
	padding: 0px;
	margin: 0px;
}

.navbar {
	font-size: 1.3rem;
	text-decoration: none;
	letter-spacing: 1px;
	border-right: 5px solid #dcd09e;
	width: 29%;
	height: 100%;
	float: left;
	text-align: left;
	position: relative;
	overflow: auto;
	background-color: #47455c;
	display: inline-block;
}

.opening-video {
	display: inline-block;
	width: 70%;
	height: 1000px;
	min-height: 400px;
	margin: auto auto;
	float: right;
	padding: 200px 0px;
	border: 5px solid red;
}

td {
	text-align: center;
	vertical-align: center;
	border-bottom: 2px solid red;
	height: 50px;
}

table a {
    display: block;
}

a:link {
	color: #dcd09e;
	text-decoration: none;
}

a:visited {
	color: #dcd09e;
	text-decoration: none;
}


table.navbar-list {
	width: 100%;
}
